<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slcp.mapper.IBlogMapper">

    <select id="getLabelByUser" resultType="java.lang.String" parameterType="string">
        SELECT distinct label
        from blog
        where user_name = #{username}
    </select>

    <select id="getBlogDetails" resultType="com.slcp.entity.Blog" parameterType="string">
        select id, content_text contentText, title, label
        from blog
        where title = #{title}
    </select>

    <select id="getBlogIntroduction" resultType="com.slcp.entity.Blog">
        SELECT CONCAT(TRIM('#' FROM LEFT (t1.content_text, 45)), '......') contentText, t1.title, t1.label
        FROM blog t1
                 LEFT JOIN blog_star t2
                           ON t1.title = t2.blog_title
        GROUP BY t1.title, t1.content_text, t1.label
        ORDER BY count(t2.blog_title) DESC LIMIT 6
    </select>

    <select id="getLabelByNum" resultType="java.lang.String">
        SELECT label
        FROM blog
        GROUP BY label
        ORDER BY count(*) DESC LIMIT 5
    </select>

    <select id="getTitleByNum" resultType="java.lang.String">
        SELECT
            t1.title
        FROM
            blog t1
                LEFT JOIN blog_star t2 ON t1.title = t2.blog_title
        GROUP BY
            t1.title
        ORDER BY
            count( t2.blog_title ) DESC
            LIMIT 5
    </select>

    <select id="getStarBlogList" resultType="com.slcp.entity.Blog">
        SELECT
            CONCAT( TRIM( '#' FROM LEFT ( t1.content_text, 45 )), '......' ) contentText,
            t1.title,
            t1.label
        FROM
            blog t1
                JOIN blog_star t2 ON t1.title = t2.blog_title
        WHERE
            t2.username = #{username}
    </select>

</mapper>